<!--- Todos los TODO --->
@page "/todo"
@using TodoApi.Dtos
@inject IJSRuntime JS
@inject HttpClient httpClient

<h1>Lista de TODOS</h1>
@if ( todos == null) {
    <h3>Cargando...</h3>
} else {
    <ul>
        @foreach(TodoDto todo in todos)
        {
            <li>
                <a href="/todo/@todo.id" target="_blank">
                    @if(todo.completed) {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                        </svg>
                    } else {
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5M6.854 5.146a.5.5 0 1 0-.708.708L7.293 7 6.146 8.146a.5.5 0 1 0 .708.708L8 7.707l1.146 1.147a.5.5 0 1 0 .708-.708L8.707 7l1.147-1.146a.5.5 0 0 0-.708-.708L8 6.293z"/>
                        </svg>
                    }
                    -> @todo.title
                </a>
                ---- 
                <button @onclick="() => ConfirmDelete(todo.id)">Eliminar</button>
            </li>
        }
    </ul>
}
@code {
    public List<TodoDto>? todos;
    
    private IJSObjectReference? modules;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                modules = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Todo.razor.js");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error importing JS module: {ex.Message}");
            }
        }
    }

    private async Task ConfirmDelete(int id)
    {
        // Llamar a la función de confirmación desde el módulo JavaScript
        var confirmed = await modules.InvokeAsync<bool>("confirmDelete", "Are you sure you want to delete this task?");
        if (confirmed)
        {
            Console.WriteLine(id);
        }
    }
    //herencia -> Component -> OnInitializedAsync
    protected override async Task OnInitializedAsync()
    {
        try {
            this.todos = await httpClient.GetFromJsonAsync<List<TodoDto>>("todos");

        } catch (Exception ex) {
            Console.WriteLine($"Error al cargar los todo: {ex.Message}");
        }
    }
}